.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    height: 100vmin;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}